body {
  display: none;
  padding-top: 4.5rem;
  margin: auto;
  background-color: whitesmoke;
}

textarea {
  box-sizing:border-box;
  border:none;
  width: 100%;
  margin: auto;
}

.navbar-toggler {
  display: none;
}

/* media */
@media screen and (max-width: 480px) {
  .nav {
    display: none;
    margin: auto;
  }
  .navbar-toggler {
  display: inline;
  }
}