<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        
        <!-- Custom Script -->
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
        
        <!-- title -->
        <title>Keywoo</title>
    </head>

    <body>
        <!-- header -->
        <header class="navbar navbar-dark bg-dark navbar-light bg-light fixed-top">
            <div>
                <a class="navbar-brand align-center" href="/">Keywoo</a>
            </div>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbaricon" aria-controls="navbaricon" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav justify-content-end">
                {% if current_user.is_authenticated %}
                <a class="navbar-brand align-left" href="/logout">Logout</a>
                {% else %}
                <a class="navbar-brand align-left" href="/signup">Sign Up</a>
                <a class="navbar-brand align-left" href="/login">Login</a>
                {% endif %}
            </div>
        </header>

        {% for message in get_flashed_messages() %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
        {% endfor %}

        <!-- content -->
        <div class="mb-5">
            {% block content %}
            {% endblock %}
        </div>

        <!-- footer -->
        <footer>
            <nav class="navbar navbar-dark ">
                <p>&copy;2020 ymmmtym</p>
            </nav>
        </footer>

    </body>
</html>
