{% extends "layout.html" %}
{% block content %}
    <div class="container text-center">
        <h2>Search</h2>
        <form action="/test_result" method="post" onsubmit="return check_blank(this,'search')">
            <p><textarea type="text" name="search" rows="5" placeholder="Keywords Line"></textarea></p>
            <p><button type="submit" name="button">Submit</button></p>
        </form>

        <h2>Search Sites</h2>
        <form action="/test" method="post" onsubmit="return check_blank(this,'radio')">
            <div class="table-responsive">
                <table class="table text-nowrap align-centor border border-warning">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            {% if current_user.is_authenticated %}
                            <th><input type="checkbox" id="all"></th>
                            {% endif %}
                            <th>Search Site</th>
                            {% if current_user.is_authenticated %}
                            <th>URL</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody id="boxes">
                        {% for site in sites %}
                        <tr>
                            {% if current_user.is_authenticated %}
                            <td><input type="checkbox" name="check" value="{{ site.name }}"></td>
                            {% endif %}
                            <td>{{ site.name }}</td>
                            {% if current_user.is_authenticated %}
                            <td>{{ site.url }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if current_user.is_authenticated %}
            <div>
                <p><input type="radio" id="delete" name="radio" value="delete"><label for="delete"> delete selected sites</label></p>
                <p><input type="radio" id="add" name="radio" value="add"><label for="add"> add site from form</label></p>
                <p><input type="text" name="name" placeholder="Name"></p>
                <p><input type="text" name="url" placeholder="URL"></p>
                <p><button type="submit" name="button">Apply</button></p>
            </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
