{% extends "layout.html" %}
{% block content %}
  <h1>Keywoo</h1>
  <div class="container">
    <form action="/search_result" method="post">
      <h2>Search</h2>
      <p><textarea type="text" name="search" rows="8" cols="80"></textarea></p>
      <p><button type="submit" name="button">Submit</button></p>
    </form>
  </div>
  <h2>Search Site</h2>
  <table class="table text-nowrap">
    <caption>Search Site</caption>
    <thead class="thead-dark">
      <tr>
        <th>Search Site</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      {% for k,v in search_dic.items(): %}
      <tr>
        <td>{{k}}</td>
        <td>{{v}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
